p{
  display: none !important;
}
$colors: (
        primary: #53ebff,
        primary-light: lighten( #53ebff, 60%),
        primary-dark: darken( #53ebff, 40%),
        accent: #fff6bb
);

$borders: 15px;
$desktop: 840px;
$padding: 15px;

@function color($color-name) {
  @return map_get($colors, $color-name)
}

body, html {
  height: 100%;
  width: 100%;
}

body{
  font-family: 'bar sofia', serif;
  margin: 0;
  text-decoration: none;


}

li {
  display: unset;
}

section#card {
  background: url("img/Pohja.jpg") no-repeat center;
  height: 75%;
  padding: 10px;
  margin: 1em auto;
  border-radius: $borders;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  width: 75%;

}
/* NAV */

nav {

  width: auto;
  height: 10vh;
  background: color(primary);
}

.nav-links li a {
  color: color(accent);
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 840px) {

  button{
    border: none;
    color: color(accent);
    background-color: color(primary-dark);

  }

  footer{
    background-color: color(primary);
    border: $borders;
    display: flex;
    position: absolute;

    ul {
      list-style-type: none;
      flex-wrap: wrap;
    }

  }

  nav {
    display: flex;
    position: relative;



    .hampurilainen{
      display: flex;

      cursor: pointer;
  }
   .nav-links {

      background: color(primary-dark);
      height: 100vh;
     width: 100%;
     flex-direction: column;
     clip-path: circle(100px at 90% -20%);
      -webkit-clip-path: circle(100px at 90% -20%);
     transition: all 1s ease-out;
      pointer-events: none;


  }

   .nav-links.open {

      clip-path: circle(100px at 90% -20%);
      -webkit-clip-path: circle(800px at 90% -20%);
      pointer-events: all;

  }
    .dropbtn {
      background-color: color(primary-dark);
      color: white;
      padding: 16px;
      font-size: 16px;
     border: none;
  }

   .dropdown {
      position: relative;
      display: inline-block;
  }

    .dropdown-content {
      display: none;
      position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
      z-index: 1;
  }

   .dropdown-content a i {
     color: black;
     padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
} }


/*      Jostain syystä mun mixin ei toimi enään,
 yritän selvittää mitä sille tein
@mixin desktop {
@media (min-width: #{$desktop}) {
  @content;
}
}*/



/*
    @include desktop {
      clip-path: polygon(0 0, 98% 0, 70% 100%, 0% 100%);
    }*/

/*
  @include desktop {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas:
            "primary card";
  }

    @include desktop {
      grid-area: card;
      height: fit-content;
      align-self: center;
      margin: 1em;
    }

    @include desktop {
      grid-area: primary;
      margin: 4em 0 0 4em;
      text-align: left;
    }

      @include desktop {
        display: inline-block;
        padding: $padding $padding * 4;
      }

      @include desktop {
          font-size: 4em;
          line-height: .9em;
          width: 30%;
      }
 */




